<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
    href = "{{url_for('static', path='/css/base.css') }}">
    <meta charset="UTF-8">
    <title>Health Tracker</title>
  </head>
  <body class="homebody">
    <div>
      <form action="/newmeal/" method="post">
        <input type="hidden" name="btn_name" value="newMeal">
        <button class="btnhome" id="newMealBtn" type="submit">New Meal</button>
      </form>
    <button class="btnhome" id="bloodSugarBtn">Blood Sugar</button>
    <button class="btnhome" id="dailyCaloriesBtn">Daily Calories</button>
  </div>
  </body>
</html>



