<!DOCTYPE html>
<html>
<head>
  <style>
    .text-bar {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
    <div id="container">
        <div class="text-bar">
          <input type="text" class="input-field" placeholder="Type Food Name...">
        </div>
        <button id="add-button">+</button>
        <button id="submit-button">Submit</button>
      </div>
      
      <script>
      const container = document.getElementById("container");
      const addButton = document.getElementById("add-button");
      const submitButton = document.getElementById("submit-button");
      
      addButton.addEventListener("click", function() {
        const textBar = document.createElement("div");
        textBar.className = "text-bar";
        const inputField = document.createElement("input");
        inputField.type = "text";
        inputField.className = "input-field";
        inputField.placeholder = "Type Food Name";
        textBar.appendChild(inputField);
        container.insertBefore(textBar, addButton);
      });
      
      submitButton.addEventListener("click", function() {
        const inputFields = document.querySelectorAll(".input-field");
        const inputValues = [];
        inputFields.forEach(inputField => {
          inputValues.push(inputField.value);
        });
        
        fetch("/text", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            input_values: inputValues
          })
        })
        .then(response => {
      if (response.status === 200) {
        window.location.href = "/parameters/display";
      } else {
        console.error("Error response", response);
      }
    });
  });
  </script>
</body>
</html>